<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class work</title>
    <link rel="stylesheet" href="../assets/css/classwork.css">
    <script src="https://kit.fontawesome.com/7065592652.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <p>Tessers</p>
        
    </nav>
    <div id="mainCont">
        <div id="subMain">
          <div id="classWorkInfoCont">
            <h1 class="primary" id="classWorkHeading">ewfkf efmwkf fkerf ekfrekfer mkewe ewkfewkf ewfekwfwek wekf ewkf wekfewkf kfewf</h1>
            <p id="classWorkBody">asd wedke emdewnjew ew cj v v vjv nvjrv  vn vje njewc ewm ewj cewn ewj ew djewec ejje ew</p>
            <p id="classWorkDate">Date: 13-3-2022</p>
            <p id="classWorkMarks">70 marks</p>
          </div>
          <p>comments</p>
          <div class="commentMainCont">
            
                    <div class="commentCont">
                        <p class="commentUserName">wdewd</p>
                        <p class="comment">wqdqw</p>
                        <p class="date">asdww</p>
                    </div>
                    <div class="commentCont">
                        <p class="commentUserName">wwqdew wedewdewd</p>
                        <p class="comment">wqd wedew ewd ewd ewdqw</p>
                        <p class="date">asdww</p>
                    </div>
                    <div class="commentCont">
                        <p class="commentUserName">w dwq ddwdewd</p>
                        <p class="comment">wqd wq ww w w w qw</p>
                        <p class="date">asdww</p>
                    </div>
              
                    <div class="commentCont">
                        <p class="commentUserName">wwqdew wedewdewd</p>
                        <p class="comment">wqd wedew ewd ewd ewdqw</p>
                        <p class="date">asdww</p>
                    </div>
                    <div class="commentCont">
                        <p class="commentUserName">w dwq ddwdewd</p>
                        <p class="comment">wqd wq ww w w w qw</p>
                        <p class="date">asdww</p>
                    </div>
              
        </div>
        <form class="commentForm">
            <input type="text" name='commentInput'class="commentInput" placeholder="comment on this post" autocapitalize="off">
            <button class="commentBtn btn"><i class="fa fa-arrow-right fa-2x"></i></button>
        </form>
        </div>
        <div id="uploadCont">
            <form id="fileUploadForm">
                <input type="file" name="file">
                <button class="btn" id="fileBtn">submit</button>
            </form>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../assets/js/classWork.js"></script>
</html>