<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/forTeaching.css">
    <title>For teaching</title>
</head>

<body>
    <nav class="navbar">
        <p>Tessers</p>
        <div>
            <button class="btn loginBtn">Login</button>
            <button class="btn signUpBtn">Sign up</button>
        </div>
    </nav>
    <div class="mainCont">
        <div class="featureMainCont">
            <div class="featureCont">
                <img src="img/live-session.png" alt="">
                <h2 class="h-secondary">Paid live sessions</h2>
                <ul class="featurList">
                    <li>Create your live session classes and start earning</li>
                    <li>Set your own price</li>
                    <li>Go beyond your city</li>
                </ul>
            </div>
            <div class="featureCont">
                <img src="img/video-backup.png" alt="">
                <h2 class="h-secondary">Session recordings</h2>
                <ul class="featurList">
                    <li>Record your session for absentees</li>
                    <li>Earn through ads on recorded sessions</li>
                </ul>
            </div>

        </div>
        <div class="featureMainCont2">
            <div class="featureCont">
                <img src="img/video-confrence.jpg" alt="">
                <h2 class="h-secondary">free video conference room</h2>
                <ul class="featurList">
                    <li>We provide free video conferencing room for 70 users.</li>
                    <li>No time limit</li>
                    <li>Our conferencing room has features like file-sharing,screen-sharing,messaging and much more.
                    </li>

                </ul>
            </div>
            <div class="featureCont">
                <img src="img/face-detection.webp" alt="">
                <h2 class="h-secondary">Automated attendance system</h2>
                <ul class="featurList">
                    <li>Our ML model will take care of attendance</li>
                    <li>Set minimum attendance criteria</li>
                    <li>Constantly checks presence of users</li>
                </ul>
            </div>

        </div>

    </div>
</body>

</html>