<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Tessers</title>
</head>
<body>
    <nav class="navbar">
        <p>Tessers</p>
        
    </nav>
    <div class="mainCont">
        <h1 class="h-primary">The future of education is here</h1>
    <p>A platform that connects students-teachers all around the world</p>
    <p>Let's connect to educational world</p>
    <div class="btnCont">
        <a href="/forTeaching" class="btn">For teaching</a>
        <a href="#" class="btn">For learning</a>
       
    </div>
    </div>
</body>
</html>