<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaching</title>
    <link rel="stylesheet" href="../assets/css/learning.css">
    <script src="https://kit.fontawesome.com/7065592652.js" crossorigin="anonymous"></script>
   
</head>
<body>
    <nav class="navbar">
        <p>Tessers</p>
        <div>
            <i id="createBtn" class="fa fa-plus"></i> 
        </div>
        
    </nav>
    <div id="showCreateBtns">
        <p id="joinClass">Join Class</p>
        <p id="joinRoom">Join Room</p>
        <a id="createRoomBtn" href="/createRoom">Create Room</a>
    </div>
    <div class="joinCont">
        <form class="joinForm" id="joinRoomForm" action="/joinRoom" method="POST" >
            <input type="text" name="roomId" id="roomId" placeholder="room id">
            <button type="submit" class="btn" id="joinRoomBtn">Join</button>
        </form>
    </div>
    <div class="joinCont">
        <form class="joinForm" id="joinClassForm">
            <input type="text" name="classId" id="classId" placeholder="class id">
            <button type="submit" class="btn" id="joinClassBtn">Join</button>
        </form>
    </div>
    <div id="mainCont">
        <div id="sideBar">
            <h1>hbjhbj</h1>
        </div>
        <div id="classMainCont">
            <div class="classCont" style="background-image: url('https://www.maxpixel.net/static/photo/1x/Space-Virtual-Classroom-Wood-Floor-Empty-Room-6035196.jpg')">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
               
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont" style="background-image: url('https://t3.ftcdn.net/jpg/02/24/71/76/360_F_224717682_oQU5zzQB0gMTnsGlWRh5U5K8fovdpNsT.jpg')">
                <p class="subName">Lorem, ipsum dolvd d e rgrtor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont" style="background-image: url('https://e7.pngegg.com/pngimages/160/97/png-clipart-brown-wooden-framed-blackboard-illustration-microsoft-powerpoint-desktop-teacher-blackboard-presentation-classroom-rectangle-computer.png')">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont" style="background-image: url('https://i.pinimg.com/originals/16/0b/4b/160b4b82b5be9a65ad835bd24187775b.jpg')">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont" style="background-image: url('../assets/img/class/3.jpg')">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="subName">Lorem, ipsum dolor.</p>
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                
                <p>class Id: hyf78y</p>
            </div>
        </div>

    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../assets/js/learning.js"></script>
</html>