<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7065592652.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/login.css">
    <title>Login to your account</title>
</head>
<body>
    <nav class="navbar">
        <p>Tessers</p>
        <button class="btn signUpBtn">Sign Up</button>
    </nav>
    <div class="loginMainCont">
        <h1 class="h-primary">Login to Your Account</h1>
        <p>Choose from 1,00,000+ online live classes</p>
        <div class="loginCont">
            <form action="#" class="loginForm">
                <input type="email" name="email" id="email" placeholder="email">
                <input type="password" name="password" id="password" placeholder="password">
                <button class="btn loginBtn">
                        <p>Login to Your Account</p>
                        <i class="fa fa-arrow-right"></i>
                </button>
            </form>
            <div class="socialLoginMain">
                <div class="googleLogin socialLogin">
                    <i class="fa fa-google"></i>
                    <p>Sign in with google</p>
                </div>
                <div class="facbookLogin socialLogin">
                    <i class="fa fa-facebook"></i>
                    <p>Sign in with facebook</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>