<div id="picCont">
    <div id="picParaCont">
        <p class="picPara">Click photo for giving attendance in class.</p>
        <p class="picPara">photo will be not saved,only face encodings will.</p>
    </div>
    <div id="videoCont">
        <video id="video">Video stream not available.</video>
    <button class="btn" id="takePic">Take Photo</button>
    </div>
    <div id="canvasCont">
        <canvas id="canvas">
        </canvas>
        <div id="picBtnCont">
            <button class="btn" id="retakePic">Retake</button>
            <button class="btn" id="uploadPic">Upload</button>
        </div>
    </div>
</div>d