<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching</title>
    <link rel="stylesheet" href="../assets/css/teaching.css">
    <script src="https://kit.fontawesome.com/7065592652.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar">
        <p>Tessers</p>
        <div id=subNavBar>
            <i id="createBtn" class="fa fa-plus"></i>
        <i class="fa fa-user" id="profile"></i>
    </div>
       

    </nav>
    <div id="profileBtns">
        <a href="#">View Profile</a>
        <a href="#">Help</a>
        <p id="logOut">Log Out</p>
    </div>
    <div id="showCreateBtns">
        <p id="joinRoom">Join Room</p>
        <!-- <a id="createRoomBtn" href="/createRoom">Create Room</a> -->
        <p id="createRoom">Create Room</p>
        <p id="createPaidClass">Create Paid Class</p>
        <p id="createPrivateClass">Create Private Class</p>
    </div>
    <div id="joinRoomCont">
        <form id="joinForm" action="#">
            <input type="text" placeholder="room id">
            <button class="btn" id="joinBtn">Join</button>
        </form>
    </div>

    <div id="paidClassCont">
        <i class="fa fa-times fa-2x"></i>
    </div>
    <div id="privateClassCont">
        <i class="fa fa-times fa-2x"></i>
        <form action="" class="classForm" id="privateClassForm">
            <div class="inputCont">
                <label for="className">Class Name</label>
                <input type="text" name="className" id="className">
            </div>
            <div class="inputCont">
                <label for="subName">Subject Name</label>
                <input type="text" name="subName" id="subName">
            </div>
            <div class="booleanCont">
                <p>Automated Attendance:</p>
                <input type="radio" name="takeAttendance" value="yes" id="attendanceYes">
                <label for="attendanceYes">yes</label>
                <input type="radio" name="takeAttendance" value="no" id="attendanceNo">
                <label for="attendanceNo">no</label>
            </div>
            <div class="booleanCont">
                <p>Restrict User (email):</p>
                <input type="radio" name="restrictUser" value="yes" id="restrictYes">
                <label for="restrictYes">yes</label>
                <input type="radio" name="restrictUser" value="no" id="restrictNo">
                <label for="restrictNo">no</label>
            </div>
            <button class="btn createClassBtn">Create</button>
        </form>
    </div>
    <div id="mainCont">
        <div id="sideBar">
            <h1>hbjhbj</h1>
        </div>
        <div id="classMainCont">
            
            <div class="classCont" style="background-image: url('https://www.maxpixel.net/static/photo/1x/Space-Virtual-Classroom-Wood-Floor-Empty-Room-6035196.jpg')">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont" style="background-image: url('https://t3.ftcdn.net/jpg/02/24/71/76/360_F_224717682_oQU5zzQB0gMTnsGlWRh5U5K8fovdpNsT.jpg')">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont" style="background-image: url('https://e7.pngegg.com/pngimages/160/97/png-clipart-brown-wooden-framed-blackboard-illustration-microsoft-powerpoint-desktop-teacher-blackboard-presentation-classroom-rectangle-computer.png')">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont" style="background-image: url('https://i.pinimg.com/originals/16/0b/4b/160b4b82b5be9a65ad835bd24187775b.jpg')">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont" style="background-image: url('../assets/img/class/3.jpg')">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
            <div class="classCont">
                <p class="className">Lorem, ipsum Lorem ipsum</p>
                <p class="subName">Lorem, ipsum dolor.</p>
                <p>class Id: hyf78y</p>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../assets/js/teaching.js"></script>
</body>

</html>