*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(15, 15, 15);
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    padding: 10px 30px;
    
   
}
.navbar p{
    color: linear;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 28, 28);
}
.navbar a{
    text-decoration: none;
}
.btn{
    background-image: linear-gradient(to top right,rgb(156, 58, 140),rgb(214, 48, 81),rgb(252, 143, 76));
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.h-primary{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 10px;
}

#profileMainCont{
    height: 90%;
    width: 40%;
    display: flex;
    margin: auto;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}
#profileCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#profileCont input{
    background-color: rgb(34, 34, 34);
    font-size: 17px;
    font-family: sans-serif;
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    /* margin: 8px; */
    color: white;
    outline: none;
}
#profileCont label{
    background-color: rgb(34, 34, 34);
    font-size: 15px;
    display: block;
    font-family: sans-serif;
    padding: 3px;
    padding-left: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* margin: 8px; */
    color: rgb(114,114,114);
}
.profileSub{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}
.name{
    margin: 20px;
    width: 50%;
}
.labelCont{
    padding: 20px;
    width: 73%;
    margin: auto;
}
#profilePicCont{
    height: 150px;
    width: 150px;
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
}

#profilePic{
    height: 100%;
    width: 100%;
}
#profilePicFile{
    display: none;
}
#uploadPicBtn{
    height: 40px;
    font-size: 17px !important;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: none;
    cursor: pointer;
}